
<div id = "email-entry-container">
	<h3>Invite List</h3>
		<div id = "gmail-contacts-hint">
		<% if current_user.contacts_up_to_date? %>
			<p>Gmail Contacts Loaded</p>
		<% else %>
			<%= link_to "Find Gmail Contacts >>", "/contacts/gmail", {id: "gmail-contacts-link"} %>
		<% end %>
	</div>
	<%= email_field_tag :contact_dropdown, "", {id: "email-dropdown", placeholder: "Enter Email Addresses (hit 'enter' to add)"} %>
</div>

<%= form_tag("/guests/update_guestlist", :method => :post, :id => "new-guest-form" ) do %>
	<div class = "field">
    <%= hidden_field_tag :event_id, event_id %>
  	</div>
	<div id= "new-guest-form-invitelist" ></div>


	<div class="actions">
		<%= submit_tag "Invite Guests", :id => "new-guest-form-submit", class: "sign_up_btn btn btn-primary" %>
		<div id = "form-submit-filler-text">Inviting guests. Please wait...</div>
		<%#= image_tag("/assets/ajax-loader.gif", :id => "invite-guests-loading-gif", class: "loading-gif",  :style => "visibility: hidden;") %>
	</div>
<% end %>


