<%= form_tag("/guests/update_guestlist", :method => :post, :id => "invite_guest_form", :remote => true ) do %>
  <div class="field">
    <%= hidden_field_tag :event_id, @event.id %>
  </div>

  <div class = "field" id = "select_buttons">
    <%= button_tag('Select All', :type => 'button', :id => "guest_form_selectall_btn", :class => "select_button") %>
    <%= button_tag('Deselect All', :type => 'button', :id => "guest_form_deselectall_btn", :class => "select_button") %>
  </div>

  <div class="field">
    <div ul id = "invite_guest_form_userlist">
        <div id = "invite_guest_form_userlist_header">CURRENT MO' MONDAYS' USERS</div>

      <% User.all.each do |user| %>
        <% if current_user.id != user.id %>
             <li class = "invite_guest_form_user_field">
              <%#= check_box "guest_array", "guests_ids", {:multiple => true, :class => "guest_checkbox"}, user.id, -user.id %>
              <%= check_box_tag "guest_ids[]", user.id, user.invited?(@event), {:class => "guest_checkbox"} %>
              <%= label_tag :user, user.username, :class => "guest_checkbox_label" %>
              <%#= label_tag :user, (user.firstname.nil? ? '' : ' (' + user.firstname + ', ') + (user.lastname.nil? ? '' : user.lastname + ')'), :class => "guest_name_label" %>
            </li>
        <% end %>
      <% end %>

    </ul>
  </div>


  <div class="actions">
    <%= submit_tag "Update Guestlist", :id => "invite_guest_form_submit" %>
    <%= image_tag("/assets/ajax-loader.gif", :id => "event-loading-gif",  :style => "visibility: hidden;") %>
  </div>
<% end %>


