
<div id = "email-entry-container">
	<h2>Invite List</h2>
		<div id = "gmail-contacts-hint">
		<% if current_user.contacts_up_to_date? %>
			<p>Gmail Contacts Loaded</p>
		<% else %>
			<%= link_to "Find Gmail Contacts >>", "/contacts/gmail", {id: "gmail-contacts-link"} %>
		<% end %>
	</div>
	<div id = "email-input-border">
	<%= email_field_tag :contact_dropdown, "", {id: "email-dropdown", placeholder: "Type email address, then hit 'enter'"} %>
	<%= button_tag "Add To List", type: "button", class: "btn btn-primary", id: "addEmailBtn" %>

	</div>
</div>

<%= form_tag("/events/#{@event.id}/guests/update_guestlist", :method => :post, :id => "new-guest-form" ) do %>
	<div class = "field">
    <%= hidden_field_tag :event_id, @event.id %>
  	</div>
	<div id= "new-guest-form-invitelist" ></div>


	<div class="actions">
		<%= submit_tag "Invite Guests", :id => "new-guest-form-submit", class: "sign_up_btn action-btn btn btn-primary", data:{confirm: 'Send invitations to the email addresses listed?'} %>
		<div id = "form-submit-filler-text">Inviting guests. Please wait...</div>
		<%#= image_tag("/assets/ajax-loader.gif", :class => "loading-gif",  :style => "visibility: hidden;") %>
	</div>
<% end %>



