<div id = "invite_guest_form_userlist_header">
	<h2>"<%= @event.name %>"</h2>
	<h3>Invite List</h3>
</div>

<div id = "email-entry-container">
	<% if current_user.gmail_contacts %>
		<%= text_field_tag :contact_dropdown, "", {id: "email-dropdown", placeholder: "Enter Emails"} %>
	<% else %>
		<%= link_to "Find Gmail Contacts", "/contacts/gmail" %>
	<% end %>
</div>
<%= render 'guest_form' %>

<script>

$(function() {
    //console.log("here");
    //console.log(getEmails())
    generateEmailDropdown();
$( "#email-dropdown" ).autocomplete({
    source: getEmails(),
    autoFocus: true,
    minLength: 3,
    dataType: 'json',
    delay: 500,
    select: function( event, ui ) {
        /*var addy = ""
        ui.item.address.forEach(function(line) {
            addy += line + "\n";
        });*/
       $("#email-list").append("<li>"+ ui.item.value + "</li>");
       $("#email-dropdown").val("");
       console.log("poop");

    },
    open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
});

function getEmails() {
   var emails = <%= raw current_user.get_contacts %>;

   return emails;
}


});
</script>
