<div class = "user_session_page user_reg_page">

    <h2>Edit Account Information</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %>
      </div>

      <div class = "field"><%= f.label :firstname, "First Name" %> <br/>
      <%= f.text_field :firstname %></div>

      <div class = "field"><%= f.label :lastname, "Last Name" %> <br/>
      <%= f.text_field :lastname %></div>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, "New Password (leave blank if you don't want to change it)" %><br />
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "New Password Confirmation" %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <div class ="field" id = "notification_email_select">
        <%= f.check_box :notification_emails %>
        <%= f.label  :notification_emails, "Send Notification Emails?" %>
      </div>


      <div id = "user-edit-confirmation-container">
          <div class="field">
          <%= f.label :current_password, "CONFIRM CHANGES:" %>
          <%= f.password_field :current_password, {:placeholder => "Enter Current Password"} %>
          </div>

          <div class = "actions"><%= f.submit "Update Account", {:class => "sign_up_btn btn btn-primary"} %></div>
      </div>

<% end %>

</div>
<!-- 
    <div class = "cancel_action">
      <h5>Cancel Account?</h5>
      <%#= button_to("Cancel my account", registration_path(resource_name), :data => { :confirm => "WARNING: THIS CANNOT BE UNDONE. If you cancel your account, all of the events you created will also be removed" }, :method => :delete, :id => "cancel_btn", :class => "btn btn-danger") %>
    </div> -->

    <%#= link_to "Back", :back %>
