<div class = "user_session_page">
	
	<h2>Forgot your password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class = "resend-info-form">
	  	<%= f.label :email, "Enter Email Address: " %><br/>
	  	<%= f.email_field :email, :autofocus => true %>

	  	<div><%= f.submit "Send Reset Instructions", {:class => "sign_up_btn btn btn-primary"} %></div>

	  </div>
	<% end %>


	 <%= link_to "Go Back", :back, {:id => "back-link"} %>

</div>
