
<%= form_for @event, :remote => true do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name of Event:" %>
    <%= f.text_field :name %>
  </div>

  <div class="field" id = "eventDateSelect-container">
    <%#= label_tag :datepicker, "Date:", :style => "display:inline" %>
    <%#= text_field_tag(:datepicker, nil, :placeholder => "mm/dd/yyyy") %>
    <%#= select_time(Time.new(Time.now.year, Time.now.month, Time.now.day, 20, 0, 0), {:ampm => true, :prefix => :time}) %>
    <div id = "datepicker-container">
      <%= f.label :datepicker, "Date:" %>
      <%= f.text_field :datepicker, {:placeholder => "mm/dd/yyyy", :readonly => 'true'} %>
    </div>
    <div id = "timepicker-container">
      <%= f.label(:timepicker, "Time:") %>
      <%= f.text_field(:timepicker, {:placeholder => "hh:mm"}) %>
    </div>
  </div>

  <% if @event.stage != 'Finished' and @event.stage != 'Archived' %>
    <div class="field">
    <%= f.label :vote_end, "When will voting close (in hours before event start time)?", :id => "event_vote_end_label" %>
    <%= f.select :vote_end,  {:options => (1..48).to_a}, :selected => @vote_end %>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag '', nil, :id => "event_vote_end_calc" %>
  </div>

  <div class="field">
    <%= f.label :notes, "Notes to Guests:" %>
    <%= f.text_area :notes %>
  </div>

  <div class ="field" id = "allow_venue_suggestion_select">
    <%= f.check_box :allow_venue_suggestion %>
    <%= f.label  :allow_venue_suggestion, "Allow users to suggest venues?" %>
  </div>


  <div class="actions">
    <%= f.submit (@event.new_record? ? "Create Event": "Update Event"), {class: "btn", id: "eventSubmitButton"} %>
    <%= image_tag("/assets/ajax-loader.gif", :id => "event-loading-gif",  :style => "visibility: hidden;") %>
  </div>
<% end %>
