
<%= form_for @event, :remote => true do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name of Event:" %>
    <%= f.text_field :name %>
  </div>

  <div class="field" id = "eventDateSelect-container">
    <%= label_tag :datepicker, "Date:", :style => "display:inline" %>
    <%= text_field_tag(:datepicker, nil, :placeholder => "mm/dd/yyyy") %>
    <%#= select_time(Time.new(Time.now.year, Time.now.month, Time.now.day, 20, 0, 0), {:ampm => true, :prefix => :time}) %>
    <%= label_tag :datepicker, "Time:", :style => "display:inline" %>
    <%= text_field_tag(:timepicker, nil, :placeholder => "hh:mm") %>
  </div>




  <% if @event.stage != 'Finished' %>
    <div class="field">
    <%= f.label :vote_end, "How many hours BEFORE your event will the winning venue be chosen?" %>
    <%= f.select :vote_end,  {:options => (1..24).to_a}, :selected => "4" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notes, "Notes to Guests:" %>
    <%= f.text_area :notes, :rows => 6 %>
  </div>


  <div class="actions">
    <%= f.submit (@event.new_record? ? "Create Event": "Update Event"), {id: "eventSubmitButton"} %>
    <%= image_tag("/assets/ajax-loader.gif", :id => "event-loading-gif",  :style => "visibility: hidden;") %>
  </div>
<% end %>
