<% content_for :hero do %>
    <div class = "row">
                <div id = "hero" class = "span12"></div>
    </div>
<% end %>


        <div class = "eventList" >
            <div id = "upcomingEvents" >

                <div class = "eventList-header">
                    <div class = "row"><h2>Upcoming Events:</h2></div>
                </div>
                <ul>
                    <%if @upcoming_events.count === 0 %>
                        <div class = "noEventsLabel">  
                            <div class = "eventItem"><li> No upcoming events </li></div>
                        </div>
                    <% else %>
                        <% @upcoming_events.each_with_index do |event, index| %> 
                           <li class = "eventItem">
                                <%= link_to(event, {class: "eventItem-link"}) do %>
                                <span class = "eventItem-span"></span>
                                    <div class = "eventLabel" >
                                        <!--<span id = "eventName"><%#= link_to event.name, event_path(event) %> </span> -->
                                        <div class = "eventName"><%= h(event.name) %></div>
                                        <%= event.event_start.strftime("%B %d, %Y") %> at 
                                            <%= event.event_start.strftime("%I:%M%p") %>
                                        <br/> Created By: <%= h(event.owner) %>
                                    </div>
                                    <div class = "eventProgress">
                                        <div class = "eventClock">
                                            <p>Event Starts In:</p>
                                            <%= tag(:span, id: "eventIndexTimer" + index.to_s, class: "eventIndexTimer", data: {date: (event.event_start).to_s})%><%= timeLeft_days(event) %></span>
                            
                                        </div>
                                    </div>
                                <% end %>
                            </li>
                                
                        <% end %>
                    <% end %>
       
                </ul>
                   <!-- <div id = "eventPagination">More Events: <%#= link_to "#" %></div> -->
            </div> <!--upcomingEvents -->

            <div id = "votingEvents" >
                <div class = "eventList-header">
                    <div class = "row">
                        <h2>Events on the Clock:</h2>
                        <%#= button_to 'Create New Event', {:action => "new"}, {:id => 'newEventCreate', :remote => true} %>
                     </div>
                     <div class = "row" id = "newEventBtn-container">
                         <% if @events.count < 10 %> <%= link_to 'Create New Event', new_event_path, {:id => "newEventBtn", :class => "btn btn-success", :remote => true} %> <% end %>
                     </div>
                 </div>
                <ul>
                    <%if @events.count === 0 %>
                        <div class = "noEventsLabel">  
                            <div class = "eventItem"><li> No Events on the Clock.  Click "Create New Event" button to make one! </li></div>
                        </div>
                    <% else %>
                        <% @events.each_with_index do |event, index| %>
                            
                            <li class = "eventItem" id = <%= "event_" + (event.id).to_s %>>
                                <%= link_to event, class: "eventItem-link" do %> 
                                    <span class = "eventItem-span"></span>
                                    <div class = "eventLabel" >
                                        <div class = "eventName"><%= h(event.name) %>
                                        <% if user_signed_in? and current_user.id === event.owner_id %>
                                            <div class = "eventIndexModifiers">
                                            (<%=link_to('Edit', edit_event_path(event), :class => 'edit-event', :remote => true)%>) |
                                            (<%=link_to('Delete', event_path(event, from_index: true), method: :delete, data:{ confirm: 'Are you sure?' }, :class => 'delete-event', :remote => true) %>)
                                            </div>
                                        <% end %>
                                        </div>
                                        <%= event.event_start.strftime("%B %d, %Y") %> at 
                                            <%= event.event_start.strftime("%I:%M%p") %>
                                        <br/> Created By: <%= h(event.owner) %>
                                    </div>
                                    <div class = "eventProgress">
                                        <div class = "eventClock">
                                            <p>Voting Ends In:</p>
                                            <%= tag(:span, id: "eventIndexTimer" + (index + @upcoming_events.count).to_s, class: "eventIndexTimer", data: {date: (event.event_start-event.vote_end.hours).to_s})%><%= timeLeft_days(event) %>
                                            </span>
                                             <!-- <div class = "eventActionLink"><%=action_links(event)%></div> -->
                                        </div>
                                    </div> 
                                <% end %>
                            </li>
                           
                        <% end %>
                    <% end %>
                </ul>
               <!-- <div id = "eventPagination">More Events: <%#= link_to "#" %></div> -->

            </div> <!--votingEvent -->
        </div> <!--eventList -->

    <!--dialog boxes -->

    <div id = "createEventForm" class = "createForm modal-dialog" title = "Enter Event Information"></div> <!--createEventForm-->
    <div id = "addNamestoUserAlert" class = "modal-dialog" title = "Update User Info">
        <p>Please go into your user 'Settings' and enter your first and last names. This will make it easier to keep track of your friends and guests you invite to your events!</p>
        <%= link_to "User Settings",  edit_user_registration_path%>
    </div>
    <div id = "newFeaturesAlert" class = "modal-dialog" title = "Feature Update">
        <header>NEW FEATURE: The Vote Meter!</header>
        <p>All suggested venues now have a vote meter to give you an indication of which venues are currently in the lead. Go to the page of an event on the clock to check it out!</p>
    </div>

    <!--end dialog boxes -->

</div> <!--row-->

<%if @name_entered %>
    <script type = "text/javascript">
          $("#addNamestoUserAlert").dialog({modal: true, autoOpen: true, minWidth: 500, show: 500, position: { my: "center top", at: "center top+100px", of: "#content_body" }});
    </script>
<% end %>
<% if @show_new_features %>
    <script type = "text/javascript">
          $("#newFeaturesAlert").dialog({modal: true, autoOpen: true, minWidth: 500, show: 500, position: { my: "center top", at: "center top+100px", of: "#content_body" }});
    </script>
<% end %>

<script type = "text/javascript"> createTimersinIndex(); </script>