<div id = "newsFeed">
    <h2>Recent Activity</h2>
    <ul>
        <% Update.last(10).reverse.each do |update| %>
            <li><%= update.content %> <%= time_ago_in_words(update.created_at) %> ago</li>
        <% end %>

    </ul>
</div>

<div id = "eventList">
    <h1>Events on the Clock:</h1>
    <%= link_to 'Create New Event', new_event_path, :id => "newEventCreate" %>

            <ul>
                <%if !Event.find(:all).empty? %>
                <% Event.where("stage != ?", "Finished").order('event_start DESC').each_with_index do |event, index| %>
                        <li>
                              <div id = "eventLabel">
                                <%= link_to event.name, event_path(event) %> <span id = "eventIndexModifiers"><%= display_modifiers_event(event) %></span> <br/>
                                <%= event.event_start.strftime("%d%b%Y") %>
                                <%= event.event_start.strftime("%I:%M%p") %>
                                <%= event.stage%>
                                <%= event.user.username %>
                                </div>
                                <%= content_tag :div, id: "eventTimer" do %>
                                    Event Starts In: <br/>
                                <%= tag :span, id: "eventIndexTimer" + index.to_s, class: "eventIndexTimer", data: {date: event.event_start.to_s} %>
                                <% end %>
                        </li>

                    <% end %>
                <% end %>
            </ul>
</div> <!--currentEventList -->


 <script> createTimersinView(); </script>