<% content_for :hero do %>
    <div class = "row">
                <div id = "hero" class = "span12"></div>
    </div>
<% end %>
    <div class = "eventList" >
    
    <%if @upcoming_events.count === 0 %>
        <!-- <div class = "noEventsLabel">  
        <div class = "eventItem"><li> No upcoming events </li></div>
        </div> -->
    <% else %>
        
            <div id = "upcomingEvents" >

                <div class = "eventList-header">
                    <div class = "row"><h2>Upcoming Events:</h2></div>
                </div>
                 <ul>
                <% @upcoming_events.each_with_index do |event, index| %> 
                    <li class = "eventItem">
                        <%= link_to(event, {class: "eventItem-link"}) do %>
                        <span class = "eventItem-span"></span>
                            <div class = "eventLabel" >
                                <!--<span id = "eventName"><%#= link_to event.name, event_path(event) %> </span> -->
                                <div class = "eventName"><%= h(event.name) %></div>
                                <%= event.event_start.strftime("%B %d, %Y") %> at 
                                    <%= event.event_start.strftime("%I:%M%p") %>
                                <br/> Created By: <%= h(event.owner) %>
                            </div>
                            <div class = "eventProgress">
                                <div class = "eventClock">
                                
                                    <%= tag(:span, id: "eventIndexTimer" + index.to_s, class: "eventIndexTimer", data: {date: (event.event_start).to_s})%><%= timeLeft_days(event) %></span>
                                    
                                </div>
                            </div>
                        <% end %>
                    </li>
                <% end %>
                </ul>
            </div> <!--upcomingEvents -->
    <% end %>
       
            

            <div id = "votingEvents" >
                <div class = "eventList-header">
                    <div class = "row">
                        <h2>Events on the Clock:</h2>
                        <%#= button_to 'Create New Event', {:action => "new"}, {:id => 'newEventCreate', :remote => true} %>
                     </div>
                     <div class = "row" id = "newEventBtn-container">
                         <% if @events.count < 10 %> <%= link_to 'Create New Event', new_event_path, {:id => "newEventBtn", :class => "btn btn-primary action-btn", :remote => true} %> <% end %>
                     </div>
                 </div>
                <ul>
                    <%if @events.count === 0 %>
                        <div class = "noEventsLabel">  
                            <div class = "eventItem"><li> No Events on the Clock.  Click "Create New Event" button to make one! </li></div>
                        </div>
                    <% else %>
                        <% @events.each_with_index do |event, index| %>
                            
                            <li class = "eventItem" id = <%= "event_" + (event.id).to_s %>>
                                <%= link_to event, class: "eventItem-link" do %> 
                                    <span class = "eventItem-span"></span>
                                    <div class = "eventLabel" >
                                        <div class = "eventName"><%= h(event.name) %> </div>
                                        <% if user_signed_in? and current_user.id === event.owner_id %>
                                            <div class = "eventIndexModifiers">
                                            <%=link_to('Edit', edit_event_path(event), :class => 'edit-event', :remote => true)%> |
                                            <%=link_to('Delete', event_path(event, from_index: true), method: :delete, data:{ confirm: 'Are you sure?' }, :class => 'delete-event', :remote => true) %>
                                            </div>
                                        <% end %>
                                       
                                        <%= event.event_start.strftime("%B %d, %Y") %> at 
                                        <%= event.event_start.strftime("%I:%M%p") %>
                                        <br/> Created By: <%= h(event.owner) %>
                                    </div>
                                    <div class = "eventProgress">
                                        <div class = "eventClock">
                                            <p><span class = "eventClock-label">Voting Ends In:</span>
                                            <%= tag(:span, id: "eventIndexTimer" + (index + @upcoming_events.count).to_s, class: "eventIndexTimer", data: {date: (event.event_start-event.vote_end.hours).to_s})%><%= timeLeft_days(event) %>
                                            </span>
                                            </p>
                                             <!-- <div class = "eventActionLink"><%=action_links(event)%></div> -->
                                        </div>
                                    </div> 
                                <% end %>
                            </li>
                           
                        <% end %>
                    <% end %>
                </ul>
               <!-- <div id = "eventPagination">More Events: <%#= link_to "#" %></div> -->

            </div> <!--votingEvent -->
        </div> <!--eventList -->

    <!--dialog boxes -->

    <div id = "createEventForm" class = "createForm modal-dialog" title = "Enter Event Information"></div> <!--createEventForm-->


    <!--end dialog boxes -->

</div> <!--row-->


<%= javascript_tag do %> 
    $(function() {
        createTimersinIndex();
        $('.ui-dialog .ui-dialog-titlebar-close').text('X');
    });
<% end %>