<div id = "newsFeed">
    <h2>Recent Activity:</h2>
    <ul>
        <% Update.last(10).reverse.each do |update| %>
            <li><%= update.content %> <%= time_ago_in_words(update.created_at) %> ago</li>
        <% end %>

    </ul>
</div>

<div id = "eventList">
    <h2>Events on the Clock:</h2>
    <%= link_to 'Create New Event', new_event_path, {:id => "newEventCreate"} %>
     <%#= button_to 'Create New Event', {:action => "new"}, {:id => 'newEventCreate', :remote => true} %>

            <ul>
                <%if Event.find(:all).empty? %>
                    <div id = "noEventsLabel">  
                        <li> No Events on the Clock.  Click "Create New Event" button to make one! </li>
                    </div>
                <% else %>
                    <% Event.where("stage != ?", "Finished").order('event_start ASC').each_with_index do |event, index| %>
                        <li id = <%= "event_" + (event.id).to_s %>>
                            <div class = "eventLabel" >
                                <span id = "eventName"><%= link_to event.name, event_path(event) %> </span> <br/>
                                <span id = "eventIndexModifiers"><%= display_modifiers_event(event) %></span>
                                Scheduled: <%= event.event_start.strftime("%B %d, %Y") %> at 
                                    <%= event.event_start.strftime("%I:%M%p") %>
                                <br/> Created By: <%= event.user.username %>
                            </div>
                                <%= content_tag :div, id: "eventClock" do %>
                                <div id = "eventStage">Stage: <%=event.stage%></div>
                                    Event Starts In: <br/>
                                <%= tag :span, id: "eventIndexTimer" + index.to_s, class: "eventIndexTimer", data: {date: event.event_start.to_s} %> 
                                <% end %>
                        </li>

                    <% end %>
                <% end %>
            </ul>
            <div id = "eventPagination">More Events: <%= link_to "#" %></div>

</div> <!--eventList -->




 <script> createTimersinView(); </script>