<div class = "row">
	<div id = "eventShow">
		<div class = "span8">
				<div id = "venueList-container">
					<div id = "suggestVenueControl">
						<%= display_venue_suggest_button(@event) %>
					</div>
					<% if @event.stage == "Finished" %>
						<% if @event.venues.count == 0 %>
							<div id = 'eventCancelledHeading'>EVENT CANCELLED <br/> (No Venues Suggested)</div>
						<% else %>
							<span id ='eventOverHeading'>VENUE SET</span>
						<% end %>
					<% end %>
					<div id = "venueList-header">
						<h3>Recommended Venue List</h3>
					</div>
					
					<ul id = "venueList">
						<%if @event.venues.count === 0 %>
                            <div id = "noEventsLabel">  
                                <li> <%= @no_venues_text %></li>
                            </div>

                        <% else %>
							<% @event.venues.each do |venue| %>
								<li class = "listItem" id = <%= "venue_" + (venue.id).to_s %>>
									
									<div class = "venueSticky"%><%= generate_venue_sticky(venue) %></div>
								   	<div class = "venue_modifiers"><%= display_modifiers_venue(venue)%></div>

								  	<div class = "voteControls">
										<div class = "voteCount"><%= venue.voters.count %></div>

										<ol class = "voteList">
											<h5>Voters:</h5>
											<% if venue.voters.count > 0 %>
												<% venue.voters.each do |voter| %>
													<li><%= voter.user.username %></li>
												<% end %>
											<% else %>
												<li>none</li>
											<% end %>
										</ol>
										

										<% if @event.stage != "Finished" %>
										<%#= button_to "", {:controller => "venues", :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id}, {:class => "voteButton", :remote => true, :src => "/assets/upvote.png" } %>
										<%= link_to image_tag("upvote.png"), {:controller => 'venues', :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id }, {:class => "voteButton", :remote => true, :src => "/assets/upvote.png" } %>
										<% end %>


									</div> <!-- voteControls -->


								</li><!--listItem -->
							<% end %>
							<%= javascript_tag do %> voteSort() <% end %>
						<% end %>
					</ul>

				</div><!-- venueList -->
		</div> <!--span8-->
			<div class = "span4">
				<div id = "eventSideBar">
					<div id = "eventHeader-container">
						<h1><%= @event.name %></h1>
						<h4>Created by: <%= @event.user.username%></h4>
						<%= display_reminder_link(@event) %> <%= display_delete_event(@event) %> 
					</div>

					<div id = "eventInfo-container">
						<div class = 'eventInfoText'><h4>Event Date:</h4>
							<div class = 'infoSubHead'><%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %>  <%= display_edit_event(@event) %></div>
						</div>
					
						<div class = 'eventInfoText'><%= display_countdowns(@event) %></div>
						<div class = 'eventInfoText'><%#= display_prevoting_countdown(@event) %></div>
						<!--<div id ="stageHeader">Event Stage: <%= display_event_stage(@event.stage) %> </div>-->
					<% if !@event.notes.blank? %>
						<div class = "eventInfoText" id = "eventNotes-container" >
							<h4> Notes to Guests: </h4>
							<div class = "infoSubHead" id = "eventNotes">"<%= @event.notes %>"</div>
						</div>
					<% end %>
				</div> <!-- eventInfo-container -->

				<!--insert rsvpList code here -->

				</div> <!--eventSidebar -->
			</div> <!--span5-->
	

				<div id = "createVenueForm" class = "createForm modal-dialog" title = "Enter Venue Information">
				</div> <!--createVenueForm-->
				<div id = "createEventForm" class = "createForm modal-dialog" title = "Enter Event Information">
   				 </div> <!--createVenueForm-->
		</div> <!--#eventShow -->
</div> <!--row-->

	<%= javascript_tag do %>
  		createCountdown("<%= (@event.event_start - @event.vote_end.hours).to_s %>", "#voteCountdown");
  		//createCountdown("<%= @vote_date.to_s %>", "#venueSuggestCountdown");
  		<% if @event.stage == "Finished" %>
  			$('#venueList ul li.listItem').first().css('border', 'solid 3px red');
  			$('#venueList ul li .voteCount').first().css('color', 'red');
  			$('.listItem:first .venueStickyHeader').append('- WINNER!');
  			$('.listItem:first .venueStickyHeader').css('color', 'red');
  		<% end %>
	<% end %>

