<div class = "row">
	<div id = "eventShow">
		<div class = "span4">
			<div id = "eventSideBar">

				<div class = "eventbox">
					<div class = "eventbox-header">
						<div class = "eventInfo-header-text"><%= h(@event.name) %></div>
						<% if current_user.id == @event.owner_id %>
							<span class = "italic">You are the owner</span><br/>
							<span><%= display_edit_event(@event) %></span>
							<span><%= display_delete_event(@event) %></span>
							<span><%= display_invite_guests(@event) %></span>
							<span><%= display_reminder_link(@event) %></span>
						<% else %>
							<span><%= display_leave_event(@event) %></span>
						<% end %>
					</div> <!--eventInfo-header -->

					<div class = 'eventbox-content'>

						<ul class = "eventbox-content-ul">
							<li class = "eventInfo-row">
								<label class = "eventInfo-content-heading">Event Date:</label>
								<span id = "eventDate"><%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %></span>
							</li>
							<% if @event.stage == "Voting" %>
								<li class = "eventInfo-row">
									<label class = "eventInfo-content-heading">Time Left to Vote:</label>
									<span id = "voteCountdown" class = "red">00:00:00</span>
								</li>
							<% end %>
							<li class = "eventInfo-row">
								<label class = "eventInfo-content-heading">Created by:</label>
								<span id = "eventOwner"><%= h(@owner.username)%></span>
							</li>								
						</ul>

						<% if !h(@event.notes).blank? %>
							<div id = "eventInfo-notes-container">
								<div id = "eventInfo-notes" >
									<p>"<%= endlines_to_breaks(h(@event.notes)) %>"</p>
								</div>
							</div>
						<% end %>
					</div><!--eventbox-content -->
				</div> <!-- eventbox -->

			<div class = "eventbox" id = "event-guestlist-container">
					<div class = "eventbox-header">
						<div class = "eventbox-secondary-header-text">Invited Guests</div>
					</div> <!--eventInfo-header -->

					<div class = 'eventbox-content'>
						<ul class = "eventbox-content-ul" id = "event-guestlist">	
							<% if @guests.empty? %>
								<li class = "guestlist-row italic">no guests yet</li>
							<% else %>
								<% @guests.each do |guest| %>
									<li class = "guestlist-row">
										<div class = "guestlist-name"><%= guest %></div>
										<%if @event.stage != "Archived" and current_user.username === guest %>
											<div class = "rsvp-toggle">
												<button id = "rsvpButton-yes" class = "btn rsvpButton">Going</button>
												<button id = "rsvpButton-no" class = "btn rsvpButton red">Not Going</button>
											</div>
										<% end %>
									</li>
								<% end %>
							<% end %>						
						</ul>
					</div><!--eventbox-content -->
			</div> <!-- event-guestlist-container -->

			<div class = "eventbox" id = "discussionBoard-container">
				<div class = "eventbox-header">
					<div class = "eventbox-secondary-header-text">Discussion Board</div>
				</div><!--discussionBoard-header -->
				
				<%= form_tag({:controller => "events", :action => "post_comment", :event_id => @event.id}, {:remote => true, :id => "post_comment_form"}) do %>
						<%= text_field_tag :comment, nil, {:id => "enterCommentsField", :placeholder => 'enter comments here...'}%>
						<%= submit_tag("POST", {:disabled => true, :class => "btn", :id => "postCommentButton"}) %>
				<% end %>

				<div id = "discussionBoard">
					<ul>
						<% @event.comments.order("created_at DESC").each do |comment| %>
							<% if comment.username != nil %>
								<li><span class = "comment_timestamp"><%= comment.username %> (<%= time_ago_in_words(comment.created_at) %> ago):</span>
                        		<%= comment.content %></li>
                        	<% else %> <!--check if comment is an update -->
                        		<li class = "italic"><%= comment.content %></li>
                        	<% end %>
						<% end %>
					</ul>
				</div><!--discussionBoard -->
			</div> <!--discussionBoard-container -->
			<!--insert rsvpList code here -->

			</div> <!--eventSidebar -->
		</div> <!--span4-->



		<div class = "span8">

			<div id = "venueList-header">
				<div class = "row">
            		<div class = "span4"><h2>Recommended Venues:</h2></div>
            		<div class - "span4"><%= display_venue_suggest_button(@event) %></div>

	         		<% if @event.stage != "Voting" %>
						<% if @event.venues.count == 0 %>
							<div id = 'eventCancelledHeading'>EVENT CANCELLED</div>
						<% else %>
							<span id ='eventOverHeading'><%= event_over_text(@event.stage) %></span>
						<% end %>
					<% end %>
				</div>
			</div> <!--venueList-header-->
			<div id = "venueList-container">

				<ul id = "venueList">
					<% if current_user.id === @event.owner_id %>
						<div id = "venueSuggestionIndicator">  
                            <div class = "row"><li>NOTE TO OWNERS: Venue Suggestion Is Turned <%= @event.allow_venue_suggestion ? "ON" : "OFF" %></li></div>
                        </div>
                    <% end %>

					<%if @event.venues.count === 0 %>
                        <div class = "noEventsLabel noVenues">  
                            <div class = "row"><li> <%= @no_venues_text %></li></div>
                        </div>

                    <% else %>
                   
						<% @event.venues.each do |venue| %>
						 <div class = "row">
							<li class = "listItem" id = <%= "venue_" + (venue.id).to_s %>>
								
								<div class = "venueSticky"%><%= h(generate_venue_sticky(venue)) %></div>
							   	<div class = "venue_modifiers"><%= display_modifiers_venue(venue)%></div>

							  	<div class = "voteControls">
									<% if @show_votecounts %>
										<div class = "voteCount"><%= venue.voters.count %></div>
										
										<% if venue.voters.count > 0 %>
										<ol class = "voteList">
											<h5>Voters:</h5>
										
											<% venue.voters.each do |voter| %>
												<li><%= voter.user.username %></li>
											<% end %>
										</ol>
										<% end %>
									<% end %>

									<div class = "voteIcon">
										<% if @event.stage == "Voting" %>
										
											<% if venue.voters.where(:user_id => current_user.id).exists? %>
												<%= image_tag("checkmark.png", :id => "checked_venue") %>
											<% else %>
												<%= link_to image_tag("upvote.png"), {:controller => 'venues', :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id }, {:class => "voteButton", :remote => true } %>
											<% end %>
										<% end %>
									</div><!--voteIcon-->

								</div> <!-- voteControls -->
							</li><!--listItem -->
						</div>
						<% end %>
						<% if @event.stage != "Voting" %><%= javascript_tag do %> voteSort() <% end %><% end %>
					<% end %>
				</ul>
			</div><!-- venueList-container -->
		</div> <!--span8-->

	

				<div id = "createVenueForm" class = "createForm modal-dialog" title = "Enter Venue Information">
				</div> <!--createVenueForm-->
				<div id = "createEventForm" class = "createForm modal-dialog" title = "Enter Event Information">
   				 </div>
   				 <div id = "inviteGuestsForm" class = "createForm modal-dialog" title = "Select Guests to Invite">
   				 </div>
		</div> <!--#eventShow -->
</div> <!--row-->

	<%= javascript_tag do %>
  		$(document).ready(function() {
  		  	createCountdown("<%= (@event.event_start - @event.vote_end.hours).to_s %>", "#voteCountdown");
  			//createCountdown("<%= @vote_date.to_s %>", "#venueSuggestCountdown");
	  		<% if @event.stage != "Voting" %>
	  			$('#venueList ul li.listItem').first().css('border', 'solid 3px red');
	  			$('#venueList ul li .voteCount').first().css('color', 'red');
	  			$('.listItem:first .venueStickyHeader').append('- WINNER!');
	  			$('.listItem:first .venueStickyHeader').css('color', 'red');
	  			$('.listItem:first .voteCount').css('color', 'red');
	  		<% end %>
  			<% if flash[:new_event?] %>
				$('#inviteGuestsForm').dialog('open');
				$('#inviteGuestsForm').html("<%= escape_javascript(render :partial => 'guests/guest_form') %>");
			<% end %>
		});
  	
	<% end %>

