<div id = "eventShow">
	<div id = "eventShowHeader">
		<div id="eventNameDate">
			<h1><%= @event.name %></h2>
			
			<div id = "eventShowModifiers"><%= display_modifiers_event(@event) %></div>
			<h2> Date: <%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %></h2>
			<div id ="stageHeader">Event Stage: <%= display_event_stage(@event.stage) %> </div>
		</div>

	</div>

	<div id = "eventControls">
		<%= display_countdowns(@event) %>
		<%#= render :partial => "venues/form", :locals => { :event => @event} %> 
	</div>

	<div id = "venueList">
		<div id = "venueList-header">
			<h2>Recommended Venue List</h2>
			<%= display_venue_suggest_button(@event) %>
		</div>
		
		<ul>
			<% @event.venues.each do |venue| %>
				<li class = "listItem" id = <%= "venue_" + (venue.id).to_s %> >
					<div class = "venueSticky">
						<%= generate_venue_sticky(venue) %>
				   </div>

				  	<div id = "voteControls">
					   <% if(@event.stage == "Voting") %>
					   		<div class = "voteCount"><%= venue.votecount %></div>
						   <%= button_to "VOTE!", {:controller => "venues", :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id}, {:class => "voteButton", :remote => true } %>
						   <script> voteSort()</script>
						<% end %>
					</div>
				</li>
			<% end %>
			
		</ul>
	</div><!-- venueList -->

	<div id = "createVenueForm" class = "modal-dialog" title = "Enter Venue Information">
	</div> <!--createVenueForm-->

</div> <!--#eventShow -->
<script> voteSort()</script>
	<%= javascript_tag do %>
  		createCountdown("<%= @event.event_start.to_s %>", "#voteCountdown");
  		createCountdown("<%= @vote_date.to_s %>", "#venueSuggestCountdown");
	<% end %>

