<div class = "row">
	<div id = "eventShow">
		
			<div class = "span5">
				<div id = "eventSideBar">
					<div id = "eventShowHeader">
						<div id="eventNameDate"><h1><%= @event.name %></h1></div>
						<div id = "eventShowModifiers"><%= display_modifiers_event(@event) %></div>

						<h3>by <%= @event.user.username%></h3>
						<div class = 'eventInfoText'><h4>Event Date:</h4>
							<span class = 'infoSubHead'><%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %></span></div>
						<div class = 'eventInfoText'>
							<%= display_date_or_countdown(@event) %></div>
						<div class = 'eventInfoText'>
							<%= display_prevoting_countdown(@event) %></div>
						
						<!--<div id ="stageHeader">Event Stage: <%= display_event_stage(@event.stage) %> </div>-->
					</div>

					<div id = "suggestVenueControl">
						<%= display_venue_suggest_button(@event) %>
					</div>
				</div> <!--eventSidebar -->
			</div> <!--span5-->
		<div class = "span7">
				<div id = "venueList">
					<div id = "venueList-header">
						<h3>Recommended Venue List</h3>
					</div>
					
					<ul>
						<% @event.venues.each do |venue| %>
							<li class = "listItem" id = <%= "venue_" + (venue.id).to_s %>>
								
								<div class = "venueSticky">
									<%= generate_venue_sticky(venue) %>
							   </div>

							  	<div id = "voteControls">
								   <% if(@event.stage == "Voting") %>
								   		<div class = "voteCount"><%= venue.votecount %></div>
									   <%= button_to "UPVOTE!", {:controller => "venues", :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id}, {:class => "voteButton btn btn-block btn-success", :remote => true } %>
									   <script> voteSort()</script>
									<% end %>
								</div>
							</li>
						<% end %>
						
					</ul>
				</div><!-- venueList -->
		</div> <!--span8-->

				<div id = "createVenueForm" class = "createForm modal-dialog" title = "Enter Venue Information">
				</div> <!--createVenueForm-->

		</div> <!--#eventShow -->
</div> <!--row-->

<script> voteSort()</script>
	<%= javascript_tag do %>
  		createCountdown("<%= @event.event_start.to_s %>", "#voteCountdown");
  		createCountdown("<%= @vote_date.to_s %>", "#venueSuggestCountdown");
	<% end %>

