<div class = "row">
	<div id = "eventShow">
		
			<div class = "span5">
				<div id = "eventSideBar">
					<div id = "eventHeader-container">
						<div id="eventNameDate"><h1><%= @event.name %></h1></div>
						<h4>Created by: <%= @event.user.username%></h4>
						<%= display_delete_event(@event) %>

					</div>

					<div id = "eventInfo-container">
						<div class = 'eventInfoText'><h4>Event Date:</h4>

							<div class = 'infoSubHead'><%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %>  <%= display_edit_event(@event) %></div>
						</div>
						<div class = 'eventInfoText'>
							<%= display_date_or_countdown(@event) %></div>
						<div class = 'eventInfoText'>
							<%= display_prevoting_countdown(@event) %></div>
					</div>
						<!--<div id ="stageHeader">Event Stage: <%= display_event_stage(@event.stage) %> </div>-->

					<% if @event.stage == "Finished" %>
						<div id = "rsvpList">
							<p>Are you going?</p>
							<%= button_to "YES!", {:controller => "events", :action => "rsvp_yes", :event_id => @event.id}, {:class => "voteButton btn btn-success", :id => "rsvpButton", :remote => true } %>
							
							<ul>
								<h4>Attendees</h4>
								<% Rsvp.where(:event_id => @event.id).each do |rsvp| %>
									<li class = "rsvpItem"><%= rsvp.user.username %></li>
								<% end %>
							</ul>
						</div> <!--rsvpList -->
					<% end %>

				</div> <!--eventSidebar -->
			</div> <!--span5-->
		<div class = "span7">
				<div id = "venueList">
					<div id = "suggestVenueControl">
						<%= display_venue_suggest_button(@event) %>
					</div>
					<div id = "venueList-header">
						<h3>Recommended Venue List</h3>
					</div>
					
					<ul>
						<%if @event.venues.count === 0 %>
                            <div id = "noEventsLabel">  
                                <li> <%= @no_venues_text %></li>
                            </div>

                        <% else %>
							<% @event.venues.order("votecount DESC, created_at ASC").each do |venue| %>
								<li class = "listItem" id = <%= "venue_" + (venue.id).to_s %>>
									
									<div class = "venueSticky">
										<%= generate_venue_sticky(venue) %>
								   </div>

								  	<div id = "voteControls">
									   <% if(@event.stage == "Voting" || @event.stage == "Finished") %>
									   		<div class = "voteCount"><%= venue.votecount %></div>
									   <% end %>
									   <% if(@event.stage == "Voting") %>
										   <%= button_to "UPVOTE!", {:controller => "venues", :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id}, {:class => "voteButton btn btn-block btn-success", :remote => true } %>
										<% end %>
									</div>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div><!-- venueList -->
		</div> <!--span8-->

				<div id = "createVenueForm" class = "createForm modal-dialog" title = "Enter Venue Information">
				</div> <!--createVenueForm-->
				<div id = "createEventForm" class = "createForm modal-dialog" title = "Enter Event Information">
   				 </div> <!--createVenueForm-->
		</div> <!--#eventShow -->
</div> <!--row-->

	<%= javascript_tag do %>
  		createCountdown("<%= @event.event_start.to_s %>", "#voteCountdown");
  		createCountdown("<%= @vote_date.to_s %>", "#venueSuggestCountdown");
	<% end %>

