
	<div id = "eventShow">
				<div class = "eventbox">
					<div class = "eventbox-header">
						<div class = "eventInfo-header-text"><%= h(@event.name) %></div>
			
						<span id = "eventShowModifiers">
							<% if @is_owner %>
								
									<%= display_edit_event(@event) %>
									<%= display_delete_event(@event) %>
									<%= display_reminder_link(@event) %>
							<% else %>
									<%= display_leave_event(@event) %>
							<% end %>
						</span>
					</div> <!--eventbox-header -->

					<div class = 'eventbox-content'>

						<ul class = "eventbox-content-ul">
							<li class = "eventInfo-row">
								<span class = "eventInfo-content-heading">Event Date:</span>
								<span class = "eventInfo-content" id = "eventDate"><%= @event.event_start.strftime("%b %d, %Y at %I:%M%p") %></span>
							</li>
							<% if @event.stage == "Voting" %>
								<li class = "eventInfo-row">
									<span class = "eventInfo-content-heading">Time Left to Vote:</span>
									<span class = "eventInfo-content red" id = "voteCountdown">00:00:00</span>
								</li>
							<% end %>
							<li class = "eventInfo-row">
								<span class = "eventInfo-content-heading">Created by:</span>
								<span class = "eventInfo-content" id = "eventOwner"><%= h(@owner)%></span>
							</li>								
						</ul>

						<% if !h(@event.notes).blank? %>
							<div id = "eventInfo-notes-container">
								<div id = "eventInfo-notes-header">Notes:</div>
								<div id = "eventInfo-notes" >
									<p>"<%= endlines_to_breaks(h(@event.notes)) %>"</p>
								</div>
							</div>
						<% end %>
					</div><!--eventbox-content -->
				</div> <!-- eventbox -->

				<div id = "event-nav">
					<a class = "event-nav-link selected-nav" id = "event-nav-link-1">Venue List</a>
					<a class = "event-nav-link " id = "event-nav-link-2">Guest List</a>
					<a class = "event-nav-link" id = "event-nav-link-3">Message Board</a>
				</div>

			<div class = "eventbox hide-box hide-toggle-2" id = "event-guestlist-container">
					<div class = "eventbox-header">
						<div class = "eventbox-secondary-header-text">
							<% if @is_owner %><%= display_invite_guests(@event) %><% end %>
						</div>
					</div> <!--eventInfo-header -->
					<div>
						<div class = 'eventbox-content'>
							<ul class = "eventbox-content-ul" id = "event-guestlist">	
								<% if @guests.empty? %>
									<li class = "guestlist-row-no-guests italic">No guests yet</li>
								<% else %>
									<% @guests.each do |guest| %>
										<li class = "guestlist-row">
											<% if guest.user.id == current_user.id and @event.stage != "Archived" %>
												<div class = "guestlist-name current_user_guest"><%= guest.user.to_s %></div>
												<div class = "rsvp-response">
													<div id = "rsvp-response-header">Are you going?</div>
													<%= link_to "Yes", rsvp_yes_path(guest_id: guest.id), {:id => "rsvpButton-yes", :class => "btn rsvpButton", :remote => true } %>
													<%= link_to "No", rsvp_no_path(guest_id: guest.id), {:id => "rsvpButton-no", :class => "btn rsvpButton", :remote => true } %>
												</div>
											<% else %>	
												<div class = "guestlist-name"><%= guest.user.to_s %></div>
												<div class = "rsvp-response">
													<span class = "rsvp-response-text"><%= guest.isgoing ? "RSVP'd" : "Not RSVP'd" %>
														<% if @is_owner and @event.stage != "Archived" %><%= link_to("X", event_remove_guest_path(:event_id => @event.id, :guest_id => guest.id), {class: "remove-guest-link", method: :delete, data:{confirm: 'Are you sure you want to remove this guest?'}}) %><% end %></span>
												</div>	
											<% end %>
											<div class = "clear"></div>
										</li>
									<% end %>
								<% end %>						
							</ul>
						</div><!--eventbox-content -->
					</div> <!--hide-toggle -->
			</div> <!-- event-guestlist-container -->

			<div class = "eventbox hide-box hide-toggle-3" id = "discussionBoard-container">
				<div class = "eventbox-header">
					<div class = "eventbox-secondary-header-text"></div>
				</div><!--discussionBoard-header -->
				<div id = "post-comment-form-container">
					<%= form_tag({:controller => "events", :action => "post_comment", :event_id => @event.id}, {:remote => true, :id => "post_comment_form"}) do %>
							<%= text_field_tag :comment, nil, {:id => "enterCommentsField", :placeholder => 'enter comments here...'}%>
							<%= submit_tag("POST", {:disabled => true, :class => "action-btn btn btn-primary", :id => "newCommentBtn"}) %>
					<% end %>

					<div id = "discussionBoard-comments">
						
							<% if @event.comments.count > 0 %>
								<ul>
								<% @event.comments.order("created_at DESC").each do |comment| %>
									<% if comment.username != nil %>
										<li><span class = "comment_timestamp"><%= comment.username %> (<%= time_ago_in_words(comment.created_at) %> ago):</span>
		                        		<%= comment.content %></li>
		                        	<% else %> <!--check if comment is an update -->
		                        		<li class = "italic"><%= comment.content %></li>
		                        	<% end %>
								<% end %>
								</ul>
							<% end %>
					</div><!--discussionBoard-comments -->
				</div><!--comment form -->
			</div> <!--discussionBoard-container -->
			<!--insert rsvpList code here -->

			<div class = "hide-box hide-toggle-1" id = "venueTab-container">
			<div class = "eventbox">
        		<div class = "eventbox-header">
					<div class = "eventbox-secondary-header-text"></div>
					<div class = "newVenueBtn-container"><%= display_venue_suggest_button(@event) %></div>
					
				</div> <!--venueList-header -->


         		<% if @event.stage != "Voting" %>
					<% if @venues.count == 0 %>
						<div class = 'eventOverHeading'>EVENT CANCELLED</div>
					<% else %>
						<div class ='eventOverHeading'><%= event_over_text(@event.stage) %></div>
					<% end %>
				<% end %>
			<div id = "venueList-container" class = "clear">
				<ul id = "venueList">
				<!-- 	<#% if @is_owner and @event.stage == 'Voting' %>
						<div id = "venueSuggestionIndicator" class ="venueList-note">  
                            <div><li>NOTE TO OWNERS: Venue Suggestion Is Turned <%#= @event.allow_venue_suggestion ? "ON" : "OFF" %></li></div>
                        </div>
                    <#% end %> -->


                    <% if @venues.count > 0 %>
                   
						<% @venues.each do |venue| %>
						 
							<li class = "listItem" id = <%= "venue_" + (venue.id).to_s %>>
								
								<div class = "venueSticky"%>
									<div class = "venueSticky-content"><%= h(generate_venue_sticky(venue)) %></div>
									<% if @event.stage == "Voting" %>
										<div class = "venueSticky-footer">
											<!-- <div class = "voteMeter">
												<div class = "voteMeter-value" id = <%#= "voteMeter-value-" + (venue.id).to_s %>></div>
												<div class = "voteMeter-cover" id = <#%= "voteMeter-cover-" + (venue.id).to_s %>></div>
											</div> -->
											<div class = "voteIcon">
												<% if venue.voters.where(:user_id => current_user.id).exists? %>
													<%= image_tag("checkmark.png", :class => "checked_venue") %>
													<span class = "vote-for-hint">You have voted for this venue</span>
													<!-- <div class = 'selected-venue'>Selected!</div> -->
												<% else %>
													<%= link_to "Upvote!", {:controller => 'venues', :action => "increment_vote", :venue_id => venue.id, :event_id => @event.id }, {:class => "btn btn-success voteButton", :remote => true } %>
													<%#= link_to image_tag("upvote.png"), {:controller => 'venues', :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id }, {:class => "voteButton", :remote => true } %>
												<% end %>
											</div><!--voteIcon-->
										</div><!--venueSticky-footer -->
									<% end %>
								</div>
							   	

							  	<div class = "voteCount-container">
									<% if @show_votecounts %>
										<div class = "voteCount" data-votecount = <%= "#{venue.voters.count}" %>><%=venue.voters.count %></div>
										
										<% if venue.voters.count > 0 %>
										<ol class = "voteList">
											<h5>Voters:</h5>
										
											<% venue.voters.each do |voter| %>
												<li><%= voter.user.to_s %></li>
											<% end %>
										</ol>
										<% end %>
									<% end %>

								</div> <!-- voteCount-container -->
							</li><!--listItem -->
				
						<% end %>
					<% else %>
                         <div class = "noVenuesLabel row"><li> <%= @no_venues_text %></li></div>
					<% end %>
				</ul>
			</div><!-- venueList-container -->
		</div> <!--eventbox-->
		</div> <!-- hidebox -->
		
		<div id = "createVenueForm" class = "createForm modal-dialog" title = "Enter Venue Information">
		</div> <!--createVenueForm-->
		<div id = "createEventForm" class = "createForm modal-dialog" title = "Enter Event Information">
			 </div>
			 <div id = "inviteGuestsForm" class = "createForm modal-dialog" title = "Invite Guests"></div>
   				

		</div> <!--#eventShow -->


<%= javascript_tag do %>
	$(function() {
		//sort venues by votes
		voteSort();
		//votemeter functionality
  		<% @event.venues.each do |venue| %>
  			calculateVoteMeter('<%= venue.id %>', '<%= venue.voters.count%>', '<%= @total_votecounts%>' )
  		<% end %>

		//createCountdowns for event#show
  		createCountdown("<%= (@event.event_start - @event.vote_end.hours).to_s %>", "#voteCountdown");

  		//highlight event winning venue after voting ends
  		<% if @event.stage != "Voting" %>
  			$('#venueList ul li.listItem').first().css('border', 'solid 3px red');
  			$('#venueList ul li .voteCount').first().css('color', 'red');
  			$('.listItem:first .venueStickyHeader').append('- winner!');
  			$('.listItem:first .venueStickyHeader').css('color', 'red');
  			$('.listItem:first .voteCount').css('color', 'red');
  		<% end %>

  		//popup guest dialog if event was just created
		<% if flash[:new_event?] %>
			$('#inviteGuestsForm').dialog('open');
			$('#inviteGuestsForm').html("<%= escape_javascript(render :partial => 'guests/new_event_guests_form') %>");
		<% end %>

		//displays tab as indicated
		<% if flash[:tab] %>
			displayEventShowTab(<%= flash[:tab] %>);
		<% end %>

		//color code rsvp buttons on page refresh
		<% if @current_user_as_guest.isgoing %>
			$('#rsvpButton-yes').addClass('green').css('background', '#d6e6e6');
			$('#rsvpButton-no').removeClass('red').css('background', '#f5f5f5');;
		<% else %>
			$('#rsvpButton-no').addClass('red').css('background', '#eebfda');
			$('#rsvpButton-yes').removeClass('green').css('background', '#f5f5f5');
		<% end %>

		$('.ui-dialog .ui-dialog-titlebar-close').text('X');

	});
<% end %>

