<%= form_for @venue, :remote => true do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name of Venue:" %>
    <%= f.text_field :name %>

      <div id = "venue-loading-gif-container">
    <%= image_tag("/assets/ajax-loader.gif", :id => "venue-loading-gif",  :style => "visibility: hidden;") %>
  </div>
  </div>

  <div class="field">
    <%= f.label :address, "Address Info:" %>
    <%= f.text_area :address, :size => "30x5" %>
  </div>

  <div class="field">
    <%= f.label :comments, "Comments:" %>
    <%= f.text_field :comments, {:placeholder => "e.g. 'best martinis!'"} %>
  </div>

  <div class="field">
    <%#= f.label :url, "Venue URL:" %>
    <%= f.hidden_field :url %>
  </div>

 <div class = "field">
    <%=f.hidden_field :event_id, value: @event_id %>
   <!-- <#%= f.label :event %><br />
    <#%= f.select :event_id, [[event.name,event.id]] %> -->
  </div>

  <div class="actions">
    <%= f.submit (@venue.new_record? ? "Suggest Venue": "Modify Venue"), {id: "venueSubmitButton"} %>
  </div>
<% end %>

<%#= link_to 'Back to Event Page', event_path(@venue.event) %>