
/*venueItemVoteCount = <%= @votecount %>;
$currentListItem = $("#venue_" + <%= @venue.id %> + " .voteControls");
$olList = $currentListItem.children("ol.voteList");
$previousListItem = $("#venue_" + <%= @previous_venue.id %> + " .voteControls");

if ($olList.length > 0) {
	$olList.append("<li><%= escape_javascript(current_user.username) %></li>");
}
else {
	$currentListItem.append("<ol class = 'voteList'><h5>Voters:</h5><li><%=escape_javascript(current_user.username) %></li></ol>");
}

$currentListItem.children(".voteCount").text(<%= @votecount %>);

<% if !@voter.nil? %>
	$previousListItem.children(".voteCount").text(<%= @previous_votecount %>);
	$previousListItem.children("ol.voteList").find("li:contains(<%= escape_javascript(current_user.username) %>)").remove();
<% end %>*/

voteSort();
$("#notice").text("<%= escape_javascript(@notice_text) %>");



