/* used to update votecounts on event#show during Voting--not needed for hidden votecounts */


//updates vote count and voteList when user changes vote
//only show vote counts and update if user is admin or event owner

<% if @show_votecounts %>
	venueItemVoteCount = <%= @votecount %>;
	$currentListItem = $("#venue_" + <%= @venue.id %> + " .voteCount");
	$oList = $currentListItem.siblings("ol.voteList");

	if ($oList.length > 0) {
		$oList.append("<li><%= escape_javascript(current_user.username) %></li>");
	}
	else {
		$currentListItem.parent(".voteCount-container").append("<ol class = 'voteList'><h5>Voters:</h5><li><%=escape_javascript(current_user.username) %></li></ol>");
	}

	$currentListItem.text(<%= @votecount %>);

	<% if !@voter.nil? %>
		$previousListItem = $("#venue_" + <%= @previous_venue.id %> + " .voteCount");
		$previousListItem.text(<%= @previous_votecount %>);
		$oList = $previousListItem.siblings("ol.voteList");
		$oList.find("li:contains(<%= escape_javascript(current_user.username) %>)").remove();

		if ($oList.children('li').length === 0) {
			$oList.remove();
		}
	<% end %>

<% end %>


//updates voteIcon when user changes vote
$currentListItem = $("#venue_" + <%= @venue.id %> + " .voteIcon");
<% if !@voter.nil? %>
	$previousListItem = $("#venue_" + <%= @previous_venue.id %> + " .voteIcon");
	$previousListItem.html("<%= escape_javascript(link_to 'Vote!', {:controller => 'venues', :action => 'increment_vote', :venue_id => @previous_venue.id,:event_id => @previous_venue.event.id }, {:class => 'voteButton', :remote => true }) %>");
<% end %>

$currentListItem.html("<%= escape_javascript('Checked!')%>");

//voteSort();
$("#notice").text("<%= escape_javascript(@notice_text) %>"); 

$("#discussionBoard ul").prepend("<li class = 'italic'><%= escape_javascript(@content)%></li>");

