<div id = "newsFeed">
    <h2>Recent Activity</h2>
    <ul>
        <% Update.last(10).reverse.each do |update| %>
            <li><%= update.content %> <%= time_ago_in_words(update.created_at) %> ago</li>
        <% end %>
    </ul>
</div>

<div id = "currentEventList">
    <h1>Events on the Clock:</h1>
    <%= link_to 'Create New Event', new_event_path, :id => "newEventCreate" %>

        <div id ="tableContainer">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Stage</th>
                <th>Event Starts In:</th>
                <th>Created By</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @events.each_with_index do |event, index| %>
              <tr>
                <td><%= link_to event.name, event_path(event) %></td>
                <td><%= event.event_start.strftime("%d%b%Y") %></td>
                <td><%= event.event_start.strftime("%I:%M%p") %></td>
                <td><%= event.stage%></td>
                <td><%= tag "div", id: "eventIndexTimer" + index.to_s, class: "eventIndexTimer", data: {date: event.event_start.to_s} %></td>
                <td><%= event.user.username %></td>
                <td><%= display_modifiers_event(event) %></td>
              </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div> <!--currentEventList -->


 <script> createTimersinView(); </script>