<div id = "currentEventList">
    <h1>Events on the Clock:</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Stage</th>
                <th>Time Left to Vote</th>
                <th>Created By</th>
                <th></th>
                <th></th>
            </tr>

            <% @events.each_with_index do |event, index| %>
              <tr>
                <td><%= link_to event.name, event_path(event) %></td>
                <td><%= event.date.strftime("%B %d, %Y") %></td>
                <td><%= event.date.strftime("%I:%M%p") %></td>
                <td>Voting</td>
                <td><%= tag "div", id: "eventIndexTimer" + index.to_s, class: "eventIndexTimer", data: {date: event.date.to_s} %>Event Completed</td>
                <td><%= event.user.username %></td>
                <td><%= display_modifiers(event) %></td>
              </tr>
            <% end %>
        </table>
</div> <!--currentEventList -->

<div id = "newEventCreate">
<%= link_to 'Create New Event', new_event_path %>
</div>

<div id = "recentEventList">
    <h1>Recent Events:<h1>


</div>

 <script> createTimersinView() </script>