<div id = "newsFeed">
    <h1>Recent Activity</h1>
    <ul>
        <% Update.last(5).reverse.each do |update| %>
            <li><%= update.content %> <%= time_ago_in_words(update.created_at) %> ago</li>
        <% end %>
    </ul>
</div>

<div id = "currentEventList">
    <h1>Events on the Clock:</h1>
    <div id = "newEventCreate">
        <%= link_to 'Create New Event', new_event_path %>
    </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Stage</th>
                <th>Event Starts In:</th>
                <th>Created By</th>
                <th></th>
            </tr>

            <% @events.each_with_index do |event, index| %>
              <tr>
                <td><%= link_to event.name, event_path(event) %></td>
                <td><%= event.event_start.strftime("%d%b%Y") %></td>
                <td><%= event.event_start.strftime("%I:%M%p") %></td>
                <td><%= check_event_stage(event)%></td>
                <td><%= tag "div", id: "eventIndexTimer" + index.to_s, class: "eventIndexTimer", data: {date: event.event_start.to_s} %></td>
                <td><%= event.user.username %></td>
                <td><%= display_modifiers_event(event) %></td>
              </tr>
            <% end %>
        </table>
</div> <!--currentEventList -->


 <script> createTimersinView(); </script>