
	<h1><%= @event.name %></h1>
	<h2> Date: <%= @event.date.strftime("%B %d, %Y at %I:%M%p") %></h2>

	<div id = "venueEntry">
		<h2>Suggest a Venue:</h2>
		<%= render :partial => 'venues/form', :locals => { :event => @event } %> 
	</div>

	<div id = "venueList">
		<h3>Recommended Venues</h3>
	
		<ul>
			<% @event.venues.each_with_index do |venue, index| %>
				<li class = "listItem">
					<div class = "venueSticky">
						<%= venue.name %>
					    <%= venue.address %>
					    <%= venue.votecount %>
					    <%= venue.user.username %>
				    	<%= display_modifiers_venue(venue) %>
				   </div>
				</li>
			<% end %>
		</ul>
	</div><!-- venueList -->

<%= display_modifiers_event(@event) %> |
<%= link_to 'Back', events_path %>
