
	<h1><%= @event.name %></h1>
	<h2> Date: <%= @event.date.strftime("%B %d, %Y at %I:%M%p") %></h2>
	<%= display_modifiers_event(@event) %> |
	<%= link_to 'Back', events_path %>

	<div id = "venueEntry">
		<h2>Suggest a Venue:</h2>
		<%= render :partial => "venues/form", :locals => { :event => @event} %> 
	</div>

	<div id = "venueList">
		<h3>Recommended Venues</h3>
	
		<ul>
			<% @event.venues.each_with_index do |venue, index| %>
				<li class = "listItem">
					<div class = "venueSticky">
						<%= venue.name %>
					    Address: <%= venue.address %>
					    <% if venue.url != "" %><%= link_to "Yelp Page", venue.url, :target => '_blank' %><% end %>
					    Suggested By: <%= venue.user.username %>
				    	<%= display_modifiers_venue(venue) %>
				   </div>
				   <%= button_to "VOTE!", :controller => "venues", :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id %>
					<!--<button class = "voteButton" onclick ="voteClick($('.voteButton').index(this))">VOTE!</button> -->
					<div class = "voteCount"><%= venue.votecount %> </div>
					<script> voteSort() </script>
				</li>
			<% end %>
		</ul>
	</div><!-- venueList -->




