
	<h1><%= @event.name %></h1>
	<%= display_modifiers_event(@event) %>
	<h2> Date: <%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %></h2>
	<h3> <%= display_date_or_countdown(@vote_date) %></h3>
	<h4>You have <span id = "venueSuggestCountdown"></span> to suggest a venue!</h4>

	<!-- only show Suggest Venue Form if Event is in 'pre-voting' stage -->
	<% if @event.stage == "pre-voting" %>
		<div id = "venueEntry">
			<h2>Suggest a Venue:</h2>
			<%= render :partial => "venues/form", :locals => { :event => @event} %> 
		</div>
	<% end %>

	<div id = "venueList">
		<h3>Recommended Venues</h3>
	
		<ul>
			<% @event.venues.each_with_index do |venue, index| %>
				<li class = "listItem">
					<div class = "venueSticky">
						<%= venue.name %>
					    Address: <%= venue.address %>
					    <% if venue.url != "" %><%= link_to "Yelp Page", venue.url, :target => '_blank' %><% end %>
					    Suggested By: <%= venue.user.username %>
				    	<%= display_modifiers_venue(venue) %>
				   </div>
				   <%= button_to "VOTE!", :controller => "venues", :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id %>
					<!--<button class = "voteButton" onclick ="voteClick($('.voteButton').index(this))">VOTE!</button> -->
					<div class = "voteCount"><%= venue.votecount %> </div>
					<script> voteSort() </script>
				</li>
			<% end %>
		</ul>
	</div><!-- venueList -->


	<%= link_to 'Back to Home', events_path %>

	<%= javascript_tag do %>
  		createCountdown("<%= @event.event_start.to_s %>", "#voteCountdown");
  		createCountdown("<%= @vote_date.to_s %>", "#venueSuggestCountdown");
	<% end %>

