
<div id = "eventShow">
	<div id = "eventShowHeader">
		<div id="eventNameDate">
			<h1><%= @event.name %></h1>
			<h2> Date: <%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %></h2>
		</div>

		<div id = "eventModifiers"><%= display_modifiers_event(@event) %></div>
	</div>

	<div id = "eventControls">
		<div id ="stageHeader">Event Stage: <%= display_event_stage(@event.stage) %> </div>
		<%= display_countdowns_and_venue_link(@vote_date) %>
		<% if(!@vote_date.past?) %>
			<%=link_to "Suggest a Venue -->", new_venue_path(:event_id => @event.id, :user => current_user), :id => "suggestVenueLink" %>
		<% end %>
		<%#= render :partial => "venues/form", :locals => { :event => @event} %> 

	</div>

	<div id = "venueList">
		<h3>Recommended Venues</h3>
	
		<ul>
			<% @event.venues.each_with_index do |venue, index| %>
				<li class = "listItem">
					<div class = "venueSticky">
						<%= venue.name %>
					    Address: <%= venue.address %>
					    <% if venue.url != "" %><%= link_to "Yelp Page", venue.url, :target => '_blank' %><% end %>
					    Suggested By: <%= venue.user.username %>
				    	<%= display_modifiers_venue(venue) %>
				   </div>
				   <% if(@vote_date.past?) %>
					   <%= button_to "VOTE!", :controller => "venues", :action => "increment_vote", :venue_id => venue.id,:event_id => @event.id %>
						<!--<button class = "voteButton" onclick ="voteClick($('.voteButton').index(this))">VOTE!</button> -->
						<div class = "voteCount"><%= venue.votecount %> </div>
					<% end %>
					<script> voteSort() </script>
				</li>
			<% end %>
		</ul>
	</div><!-- venueList -->

</div> <!--#eventShow -->

	<%= javascript_tag do %>
  		createCountdown("<%= @event.event_start.to_s %>", "#voteCountdown");
  		createCountdown("<%= @vote_date.to_s %>", "#venueSuggestCountdown");
	<% end %>

