<h1><%= @event.name %></h1>
<h2> Date: <%= @event.date.strftime("%B %d, %Y at %I:%M%p") %></h2>

<%= render :partial => 'venues/form', :locals => { :event => @event } %> 

<div id = "venueList">
	<h3>Recommended Venues</h3>
	<table>
		<tr>
		    <th>Name</th>
		    <th>Address</th>
		   	<th>Vote Count</th>
		    <th>Suggested By</th>
		    <th>Suggested At</th>
		    <th></th>
		    <th></th>
		</tr>

		<% @event.venues.each_with_index do |venue, index| %>
		  <tr>
		    <td><%= venue.name %></td>
		    <td><%= venue.address %></td>
		    <td><%= venue.votecount %></td>
		    <td><%= venue.user.username %></td>
		    <td><%= venue.created_at %></td>
		    <td><%= display_modifiers(@event) %></td>
		  </tr>
		<% end %>
	</table>
</div> <!-- venueList -->


<%= display_modifiers(@event) %> |
<%= link_to 'Back', events_path %>
