<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>Mo' Mondays Mo' Problems!</p>
    ===============================================
    <h2>AN EVENT HAS BEEN CREATED!</h2>
    <p><%= @event.user %> has just created a new event on the MoMondaysApp </p>

    <p>
      Below is the event information: <br/>
      Event Name: "<%= @event.name %>" <br/>
      Event Date: <%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %> <br/>
      Voting Closes: <%= @vote_end.strftime("%B %d, %Y %I:%M%p") %><br/>
      <% if !@event.notes.blank? %> 
        Notes to Guests: <br/>
        "<%= @event.notes %> "
      <% end %>
    </p>
    <p>
      Click Here to Suggest/Vote for Venues! <%= link_to("Event Page", @url) %>
    </p>

    <p>Remember, you can suggest venues and vote up until voting closes. Your opinion matters!</p>

    <p> -Mo' Mondays App </p>
     ===============================================
  </body>
</html>