<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<link rel="stylesheet" type="text/css" href="email.css">   
</head>
<body>

<div class = "email-container">
  <div class = "app-name-header">
    <h2><%= Venupickr::Application::APP_NAME.upcase %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td>
    
    <h3>THE EVENT HAS BEEN UPDATED!</h3>
    <p align="center"><%= @owner %> has just updated an event on the <%= Venupickr::Application::APP_NAME %> App! Below is the current event information:</p>
    
    <table class = "email-info" order="0" cellspacing="5">
      <tr>
        <td width="35%"><p class = "heading">Event:</p></td>
        <td><a href= <%= "#{@url}"%> ><b><%= @event.name  %></b></a></td>
      </tr>
      <tr>
        <td><p class = "heading">Event Date:</p></td>
        <td><p><%= @event.event_start.strftime("%B %d, %Y") %> at <%= @event.event_start.strftime("%I:%M%p") %></p></td>
      </tr>
      <tr>
        <td><p class= "heading">Vote Closes:</p></td>
        <td><p><%= @vote_end.strftime("%B %d, %Y %I:%M%p") %></p></td>
      </tr>

       <% if !@event.notes.blank? %>
        <tr>
          <td valign="top"><p class = "heading">Notes to Guests:</p></td>
          <td valign="top">
              <p style = "font-style: italic"> "<%= @event.notes %>"</p>
          </td>
        </tr>
      <% end %>
    </table>
    
    <p align="center" class = "email-small">Go to the <%= link_to("Event Page", @url) %> to checkout the updates. <% if @event.allow_venue_suggestion %>Remember, you can suggest venues and vote up until voting closes. Your opinion matters!<% end %>
    
    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td><a>www.<%= Venupickr::Application::APP_NAME.downcase %>.com</a></td>
  </tr>
</table>


</body>
</html>

