<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h2>THE EVENT IS SET!</h2>

    <p>
      Voting has just finished for <%="'#{@event.name}' created by #{@event.user}" %><br/>
    </p>
    <p>
      Below is the event information: <br/>
      Event Name: "<%= @event.name %>" <br/>
      Event Date: <%= @event.event_start.strftime("%B %d, %Y") %> <br/>
      Start Time: <%= @event.event_start.strftime("%I:%M%p") %><br/>
      
      <% if !@event.notes.blank? %>
        Notes to Guests: <br/>
        "<%= @event.notes %> "
      <% end %>
    </p>
     
     <h2>WINNING VENUE INFORMATION</h2>
    <p>
      WINNING VENUE: <%= @winner.name %> <br/>
      ADDRESS: <%= @winner.address %> <br/>
      URL: <%= @winner.url %> <br/>
      SUGGESTED BY: <%= @winner.user.username %> <br/>
    </p>

    <p>Are you going? RSVP on the <%= link_to("Event Page", @url) %></p>

    <p>Hope to see you there!</p>
    <p>-Mo' Mondays App</p>
     ===============================================
  </body>
</html>