<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<style type="text/css">
 @font-face {
  font-family: 'Verlag Bold';
  src: url(<%= asset_path "VerlagBlack.otf" %>) format('opentype');
  font-style: normal;
}
 @font-face {
  font-family: 'Verlag Book';
  src: url(<%= asset_path "VerlagBook.otf" %>) format('opentype');
  font-style: normal;
}

.email-container {
  font-family: Verlag Book, Arial, Verdana, Geneva, sans-serif;
  background-color: whitesmoke;
  font-size: 1em;
  min-width: 80%;
  margin: 0 auto;
  color: #333633;
}

  .email-container a {
    text-decoration: none;
    color: #2e6ab1;
  }

.app-name-header {
  background-color: #FF7F00;
}
  .app-name-header h2 {
    text-align: center;
    color: white;
    font-family: Verlag Bold, "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    margin: 0 auto;
    padding: 5px;
  }

.email-content-body table {
  margin: 10px auto;
  line-height: 1.2em;
}
  .email-content-body table h2 {
    font-family: Verlag Bold, "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #FF7F00;
    text-align: center;
  }

.email-info {
  width: 75%;
}

  .email-info .venue-winner {
    font-size: 0.9em;
  }

 .email-info .heading {
    font-family: Verlag Bold, "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #FF7F00;
 } 

 .email-small {
  font-size: 0.9em;
  margin: 0 auto;
  margin-top: 30px;
  width: 75%;
 }


.email-footer {
    width: 100%;
    text-align: center;
}
  .email-footer td {
    background-color: #FF7F00;
    padding: 10px;
    color: white;
    font-family: Verlag Bold, "Arial Rounded MT Bold", Verdana, Geneva, sans-serif;
    font-size: 0.8em;
  }



</style>
</head>
<body>

<div class = "email-container">
  <div class = "app-name-header">
    <h2><%= Venupickr::Application::APP_NAME %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td>
    
    <h2>THE EVENT HAS BEEN UPDATED!</h2>
    <p align="center"><%= @owner %> has just updated an event on the <%= Venupickr::Application::APP_NAME %> App! Below is the current event information:</p>
    
    <table class = "email-info" order="0" cellspacing="10">
      <tr>
        <td width="35%"><p class = "heading">Event:</p></td>
        <td><a href= <%= "#{@url}"%> ><b><%= @event.name  %></b></a></td>
      </tr>
      <tr>
        <td><p class = "heading">Event Date:</p></td>
        <td><p><%= @event.event_start.strftime("%B %d, %Y") %> at <%= @event.event_start.strftime("%I:%M%p") %></p></td>
      </tr>
      <tr>
        <td><p class= "heading">Vote Closes:</p></td>
        <td><p><%= @vote_end.strftime("%B %d, %Y %I:%M%p") %></p></td>
      </tr>

       <% if !@event.notes.blank? %>
        <tr>
          <td valign="top"><p class = "heading">Notes to Guests:</p></td>
          <td valign="top">
              <p style = "font-style: italic"> "<%= @event.notes %>"</p>
          </td>
        </tr>
      <% end %>
    </table>
    
    <p align="center" class = "email-small">Go to the <%= link_to("Event Page >>", @url) %> to checkout the updates. <% if @event.allow_venue_suggestion %>Remember, you can suggest venues and vote up until voting closes. Your opinion matters!<% end %>
    
    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td>www.<%= Venupickr::Application::APP_NAME.downcase %>.com</td>
  </tr>
</table>


</body>
</html>

