<!DOCTYPE html>
<html>
<head>
<title>Mo' Mondays Email Template</title>
<style type="text/css">

.mm_ttb {
  font-family: Arial, Verdana, Geneva, sans-serif;
  background-color: #F4F4F4;
  font-size: 14px;
}

</style>
</head>
<body>

<!-- Header -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td style="background-color: #777777;font-family: Arial, Verdana, Geneva, sans-serif;color: white;font-size: 18px;">Mo' Mondays Mo' Problems</td>
  </tr>
</table>

<!-- Body -->
<table class="mm_ttb" width="600" align="center" border="0" cellspacing="0" cellpadding="10" style="background-color:#f3f3f3;">
  <tr>
    <td>
    
    <h1 style="font-size: 18px;font-family: Arial, Verdana, Geneva, sans-serif;">REMINDER!</h1>
    <p>'<%= @event.name %>' created by <%= @owner %> has been scheduled!</p>
    
    <table width="100%" border="0" cellspacing="2">
      <tr>
        <td width="20%"><p style="color: #888888;">Event:</p></td>
        <td><a href= <%= "#{@url}"%> ><b><%= @event.name  %></b></a></td>
      </tr>
      <tr>
        <td><p style="color: #888888;">Start Date:</p></td>
        <td><p><%= @event.event_start.strftime("%B %d, %Y") %> at <%= @event.event_start.strftime("%I:%M%p") %></p></td>
      </tr>
      <tr>
        <td valign="top"><p style="color: #888888;">Winning Venue:</p></td>
        <td valign="top">
          <p> 
            <% if !@winner.url.blank? %>
              <a href = <%= "#{@winner.url}" %> ><%= @winner.name %></a><br />
            <% else %>
              <div><%= @winner.name %></div>
            <% end %>  
                <span style="font-size:12px;color:#888888;"><%= @winner.address.html_safe %><br />
                <em>&raquo; suggested by <%= @winner.user.username %></em></span>
          </p>
        </td>
      </tr>

      <% if !@event.notes.blank? %>
        <tr>
          <td valign="top"><p style="color: #888888;">Notes to Guests:</p></td>
          <td valign="top">
              <p> "<%= @event.notes %>"</p>
          </td>
        </tr>
      <% end %>
    </table>
    
    <p align="center"><small>Are you going? RSVP using the discussion box on the <a href = <%= "#{@url}"%> >Event Page</a></small></p>
    
    </td>
  </tr>
</table>

<!-- Footer -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" style="background-color: #e3e3e3;font-family: Arial, Verdana, Geneva, sans-serif;font-size: 11px;">www.mo-mondays.com</td>
  </tr>
</table>

</body>
</html>