<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<link rel="stylesheet" type="text/css" href="email.css">   
</head>
<body>

<div class = "email-container">
  <div class = "app-name-header">
    <h2><%= Venupickr::Application::APP_NAME.upcase %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td>
    
    <h3>REMINDER!</h3>
    <p align="center"><strong>'<%= @event.name %>'</strong> created by <%= @owner %> has been scheduled!</p>
    
    <table class = "email-info" order="0" cellspacing="5">
      <tr>
        <td width="35%"><p class = "heading">Event:</p></td>
        <td><a href= <%= "#{@url}"%> ><b><%= @event.name  %></b></a></td>
      </tr>
      <tr>
        <td><p class = "heading">Event Date:</p></td>
        <td><p><%= @event.event_start.strftime("%B %d, %Y") %> at <%= @event.event_start.strftime("%I:%M%p") %></p></td>
      </tr>
      <tr>
        <td valign="top"><p class = "heading">Winning Venue:</p></td>
        <td valign="top">
          <p> 
            <% if !@winner.url.blank? %>
              <a href = <%= "#{@winner.url}" %> ><%= @winner.name %></a><br />
            <% else %>
              <div><%= @winner.name %></div>
            <% end %>  
            <span class = "venue-winner"><%= @winner.address.html_safe %><br />
            <em style = "font-style: italic;">&raquo; suggested by <%= @winner.user.to_s %></em></span>
          </p>
        </td>
      </tr>

       <% if !@event.notes.blank? %>
        <tr>
          <td valign="top"><p class = "heading">Notes to Guests:</p></td>
          <td valign="top">
              <p style = "font-style: italic"> "<%= @event.notes %>"</p>
          </td>
        </tr>
      <% end %>
    </table>
    
    <p align="center" class = "email-small"><b>Are you going?</b> RSVP on the <a href = <%= "#{@url}"%> >Event Page</a></p>
    
    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td><a>www.<%= Venupickr::Application::APP_NAME.downcase %>.com</a></td>
  </tr>
</table>


</body>
</html>
