<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<link rel="stylesheet" type="text/css" href="email.css">   
</head>
<body>


<div class = "email-container">
  <div class = "app-name-header">
    <h2><%= Venupickr::Application::APP_NAME.upcase %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td>
    
    <h3>YOU HAVE BEEN INVITED TO AN EVENT!</h3>
    <h4 align = "center"><%= @owner %> has just invited you to an event on the <%= Venupickr::Application::APP_NAME %> App!</h4>

        <p class = "email-small">Register with <%= link_to("this link", @new_user_url) %> to sign up for the app and see the event details! Once registered, you can recommend venues for the event and even vote for the ones you like.</p>
  
    <div style = "text-align: center; margin-top: 10px; margin-bottom: 0px; font-style: italic; font-size: 0.8em;"><strong>Already a Registered User?</strong></div>
    <p align = "center" class = "email-small" style = "margin-top: 0px; font-size: 0.8em;">Sign in with <%= link_to("this link", @existing_user_url) %> to get added to the event guestlist</p>
    
    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td><a>www.<%= Venupickr::Application::APP_NAME.downcase %>.com</a></td>
  </tr>
</table>


</body>
</html>
