<!DOCTYPE html>
<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<style type="text/css">

.mm_ttb {
  font-family: Arial, Verdana, Geneva, sans-serif;
  background-color: #F4F4F4;
  font-size: 14px;
}

</style>
</head>
<body>

<!-- Header -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td style="background-color: #777777;font-family: Arial, Verdana, Geneva, sans-serif;color: white;font-size: 18px;"><%= Venupickr::Application::APP_NAME %></td>
  </tr>
</table>

<!-- Body -->
<table class="mm_ttb" width="600" align="center" border="0" cellspacing="0" cellpadding="10" style="background-color:#f3f3f3;">
  <tr>
    <td>
    
    <h1 style="font-size: 18px;font-family: Arial, Verdana, Geneva, sans-serif;" align ="center">YOU HAVE BEEN INVITED TO AN EVENT!</h1>
    <p align = "center"><%= @owner %> has just invited you to an event on the <%= Venupickr::Application::APP_NAME %> App!</p>
    
    <p align="center">Register with <%= link_to("this link", @new_user_url) %> to sign up for the app and see the event details! Once registered, you can recommend venues for the event and even vote for the ones you like.</p>

    <br/><p align = "center"><strong>Already a Registered User?</strong>  Sign in with <%= link_to("this link", @existing_user_url) %> to get added to the event guestlist</p>
    
    </td>
  </tr>
</table>

<!-- Footer -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" style="background-color: #e3e3e3;font-family: Arial, Verdana, Geneva, sans-serif;font-size: 11px;">www.<%= Venupickr::Application::APP_NAME.downcase %>.com</td>
  </tr>
</table>

</body>
</html>