<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<link rel="stylesheet" type="text/css" href="email.css">   
</head>
<body>


<div class = "email-container">
  <div class = "app-name-header">
    <h2><%= Venupickr::Application::APP_NAME.upcase %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td>
    
    <h3>A VENUE HAS BEEN SUGGESTED!</h3>
    <p align="center"><%= @venue_owner %> has suggested a venue for the event,<strong> <%= link_to("#{@event.name}", @url) %></strong>.<br/>Go to the <%= link_to("Event Page", @url) %> and vote or change your vote if you like it!</p>
      

    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td><a>www.<%= Venupickr::Application::APP_NAME.downcase %>.com</a></td>
  </tr>
</table>


</body>
</html>

