<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<link rel="stylesheet" type="text/css" href="email.css">   
</head>
<body>


<div class = "email-container">
  <div class = "app-name-header">
    <h2><%= Venupickr::Application::APP_NAME.upcase %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td>
    
    <h3>THERE'S A NEW VENUE SUGGESTED FOR YOUR EVENT!</h3>
    <p align="center"><%= @venue_owner %> has suggested/edited a venue for your event,<strong> <%= link_to("#{@event.name}", @url) %></strong>!<br/>Go to the <%= link_to("Event page", @url)%> to see the venue and remove it if you don't approve. You have the power!</p>

    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td><a>www.<%= Venupickr::Application::APP_NAME.downcase %>.com</a></td>
  </tr>
</table>


</body>
</html>
