<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>VOTING HAS BEGUN!</h1>

    <p>
      Voting has just started for <%="'#{@event.name}' submitted by #{@event.user}" %><br/>
      Go to the <%= link_to("Event Page", @url) %> to vote!
    </p>
    <p>
      Below is the event information: <br/>
      Event Name: "<%= @event.name %>" <br/>
      Event Date: <%= @event.event_start.strftime("%B %d, %Y") %> <br/>
      Start Time: <%= @event.event_start.strftime("%I:%M%p") %><br/>
    </p>

    <p>Hope to see you there!</p>
  </body>
</html>