<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>Mo' Mondays Mo' Problems!</p>
    ===============================================
    <h2>VOTING HAS BEGUN!</h2>

    <p>
      Voting has just started for <%="'#{@event.name}' submitted by #{@event.user}" %><br/>
      Go to the <%= link_to("Event Page", @url) %> to vote!
    </p>
    <p>
      Below is the event information: <br/>
      Event Name: "<%= @event.name %>" <br/>
      Event Date: <%= @event.event_start.strftime("%B %d, %Y at %I:%M%p") %> <br/>
      Voting Ends: <%= @vote_end.strftime("%B %d, %Y at %I:%M%p") %><br/>
    </p>

    <p>Remember, you have up until the Event "Start Time" to cast you vote, so make sure you vote!

    <p>Hope to see you there!</p>
    <p>-Mo' Mondays App</p>
     ===============================================
     
  </body>
</html>