<!DOCTYPE html>
<html>
<head>
  <title>MoMondays</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
</head>
<body>
	<header>
		<div id = "page_header">
				<div id = "page_title"><h1>Mo' Mondays Mo' Problems (BETA)</h1></div>
			<div class = "row">
				<div class = "span5">
					<nav>	
						<ul class = "nav nav-pills">
							<li><%= link_to "Home", events_path %></li>
							<li><%= link_to "Finished Events", pages_history_path %></li>
							<li><%= link_to "About", pages_info_path %></li>
						</ul>
					</nav>
				</div>

				<div id="login-nav" class = "span7">
						<% if user_signed_in? %>
							Logged in as <%= current_user %> 
							<%= link_to "Logout", destroy_user_session_path, method: :delete %> | 
							<%= link_to "Settings",  edit_user_registration_path %>
						<% else %>
							<%= link_to "Sign Up", new_user_registration_path %> |
							<%= link_to "Sign In", new_user_session_path %>
						<% end %>
				</div>
			</div>
		</div>  <!--page_header-->

	</header>

	<div id = "container" class = "container">



				<div id = "main">
					<div id = "notice">
						<%= notice %>
						<%= alert %>
					</div>
					

					<%= yield %>

				</div> <!--main-->


	<footer>created by Satyan Pai</footer>
	</div> <!--container -->

</body>
        <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
        <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>

</html>
