<!DOCTYPE html>
<html>
<head>
  <title>MoMondays</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
</head>
<body>
	<div id = "page_title">
		<div id="login-nav">
			<% if user_signed_in? %>
				Logged in as <%= current_user %> 
				<%= link_to "Logout", destroy_user_session_path, method: :delete %> | 
				<%= link_to "Settings",  edit_user_registration_path %>
			<% else %>
				<%= link_to "Sign Up", new_user_registration_path %> |
				<%= link_to "Sign In", new_user_session_path %>
			<% end %>
		</div>

		<img src = "/assets/beta_banner.png" id = "banner"/>&copy
	</div> <!--page_title -->

	<div id = "nav_body">
		<header>
			<div id = "nav-container">
				<div class = "row">
					<div class = "span6" id = "navbar">
						<nav>	
							<ul class = "nav nav-pills">
								<li><%= link_to "Home", events_path %></li>
								<li><%= link_to "Past Events", pages_archived_path %></li>
								<li><%= link_to "About", pages_info_path %></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>  <!--nav_body-->

		</header>
	</div> <!--title_body-->

	<div id = "content_body">

		<div id = "container" class = "container">
			<%= yield :hero %>
							<div id = "notice">
					<%= notice %>
					<%= alert %>
				</div>
			<div id = "main">			

				<%= yield %>

			</div> <!--main-->

		</div> <!--container -->
	</div> <!--content_body-->
			<footer>created by Satyan Pai</footer>
</body>
        <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
        <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>

</html>
